<!-- <div>
  {{idResult.dataElements}}
</div> -->
<div class="w3-padding">
  <h1>{{idResult.name}}</h1>
  <hr>
  <h2 class="w3-dark-blue"><small>Data element group set</small></h2>
  <h4>
    {{idResult.dataElementGroupSet.name}}
  </h4>
  <hr>
  <div class="list-group">
    <a ng-if="apiname == 'dataElements'" dir-paginate="iterm in idResult.dataElements | filter:search |itemsPerPage :15"  class="list-group-item">{{iterm.name}}</a>
  </div>
  <div class="text-center">
      <dir-pagination-controls></dir-pagination-controls>
  </div>
</div>
