<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          Ancestors
        </a>

        <form class="form-horizontal">
          <div class="form-group">
            <br><br>
            <div class="col-sm-6">
              <input ng-model="searchAncestors" type="text" class="form-control" id="inputEmail3" placeholder="Search">
            </div>
          </div>
        </form>

        <a dir-paginate="util in orgResults.ancestors | filter:searchAncestors |itemsPerPage :15" class="list-group-item">{{util.name}}</a>
        <div class="text-center">
          <dir-pagination-controls></dir-pagination-controls>
        </div>
      </div>
    </div> <!--ancestors div-->

    <div class="col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          Organisation Unit Groups
        </a>

        <form class="form-horizontal">
          <div class="form-group">
            <br><br>
            <div class="col-sm-8">
              <input ng-model="searchOrgGroups" type="text" class="form-control" id="inputEmail3" placeholder="Search">
            </div>
          </div>
        </form>

        <a dir-paginate="util in orgResults.organisationUnitGroups | filter:searchOrgGroups |itemsPerPage :15" href="#organisationUnitGroups/{{util.id}}" class="list-group-item">{{util.name}}</a>
        <div class="text-center">
          <dir-pagination-controls></dir-pagination-controls>
        </div>
      </div>
    </div> <!--organisation unit group div-->

    <div class="col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          Programs
        </a>

        <form class="form-horizontal">
          <div class="form-group">
            <br><br>
            <div class="col-sm-6">
              <input ng-model="searchOrgPrograms" type="text" class="form-control" id="inputEmail3" placeholder="Search">
            </div>
          </div>
        </form>

        <a dir-paginate="util in orgResults.programs | filter:searchOrgPrograms |itemsPerPage :15" href="#programs/{{util.id}}" class="list-group-item">{{util.name}}</a>
        <div class="text-center">
          <dir-pagination-controls></dir-pagination-controls>
        </div>
      </div>
    </div> <!--programs div-->

    <div class="col-md-4">
      <div class="list-group">
        <a href="#" class="list-group-item active">
          Data Sets
        </a>

        <form class="form-horizontal">
          <div class="form-group">
            <br><br>
            <div class="col-sm-6">
              <input ng-model="searchDataSet" type="text" class="form-control" id="inputEmail3" placeholder="Search">
            </div>
          </div>
        </form>

        <a dir-paginate="util in orgResults.dataSets | filter:searchDataSet |itemsPerPage :15" class="list-group-item">{{util.name}}</a>
        <div class="text-center">
          <dir-pagination-controls></dir-pagination-controls>
        </div>
      </div>

    </div> <!--data set div-->

  </div> <!--row-->
</div> <!--container-->
