  <div class="container">
    <h4>{{idResult.name}}</h4>
      <hr>

      <label>Tracked Entity: </label> <span>{{idResult.trackedEntity.name}}</span>
      <hr>

    <div class="row">

        <!--<div class="col-md-3">
          <h2 class="sub-header">Program Tracked Entity Attributes</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-2">Name</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="util in idResult.programTrackedEntityAttributes">
                <td class="col-md-1">{{$index + 1}}</td>
                <td class="col-md-2">{{util.name}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>-->
                <div class="col-md-4">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            Program Tracked Entity Attributes
                        </a>

                        <form class="form-horizontal" ng-show="idResult.programTrackedEntityAttributes.length > 3">
                            <div class="form-group">
                                <br>
                                <div class="col-sm-6">
                                    <input ng-model="searchAttrs" type="text" class="form-control" id="inputEmail3" placeholder="Search">
                                </div>
                            </div>
                        </form>
                        <!--ng-show="idResult.programTrackedEntityAttribute.length == 0"-->
                        <div class="alert alert-info alert-dismissible" ng-hide="idResult.programTrackedEntityAttributes.length > 0">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-info"></i> Alert!</h4>
                            No tracked entity attributes available!!
                        </div>

                        <a dir-paginate="util in idResult.programTrackedEntityAttributes | filter:searchAttrs |itemsPerPage :7" class="list-group-item">{{util.name}}</a>
                        <div class="text-center">
                            <dir-pagination-controls></dir-pagination-controls>
                        </div>
                    </div>
            </div>

            <div class="col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        Program Stages
                    </a>

                    <form class="form-horizontal" ng-show="idResult.programStages.length > 3">
                        <div class="form-group">
                            <br><br>
                            <div class="col-sm-6">
                                <input ng-model="searchStages" type="text" class="form-control" id="inputEmail3" placeholder="Search">
                            </div>
                        </div>
                    </form>

                    <a dir-paginate="util in idResult.programStages | filter:searchStages |itemsPerPage :15" class="list-group-item">{{util.name}}</a>
                    <div class="text-center">
                        <dir-pagination-controls></dir-pagination-controls>
                    </div>
                </div>
                <!--<div class="content-box-large">
                <div class="panel-heading">
                  <div class="panel-title">Program Stages</div>

                  <div class="panel-options">
                    <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                    <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="util in idResult.programStages">
                        <td class="col-md-1">{{$index + 1}} </td>
                        <td class="col-md-2"> {{util.name}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>-->
            </div>

              <!--<div class="content-box-large">
                <div class="panel-heading">
                  <div class="panel-title">Organisation Units</div>

                  <div class="panel-options">
                    <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                    <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="util in idResult.organisationUnits">
                      <td>{{$index + 1}} </td>
                      <td> {{util.name}} </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>-->
                <div class="col-md-4">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            Organisation Units
                        </a>

                        <form class="form-horizontal" ng-show="idResult.organisationUnits.length > 3">
                            <div class="form-group">
                                <br>
                                <div class="col-sm-7">
                                    <input ng-model="searchOrg" type="text" class="form-control" id="inputEmail3" placeholder="Search">
                                </div>
                            </div>
                        </form>

                        <a dir-paginate="util in idResult.organisationUnits | filter:searchOrg |itemsPerPage :7" href="#/organisationUnits/{{util.id}}" class="list-group-item">{{util.name}}</a>
                        <div class="text-center">
                            <dir-pagination-controls></dir-pagination-controls>
                        </div>
                    </div>
            </div>
              <!--<div class="content-box-large">
                <div class="panel-heading">
                  <div class="panel-title">User Roles</div>

                  <div class="panel-options">
                    <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
                    <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
                  </div>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="util in idResult.userRoles">
                      <td>{{$index + 1}} </td>
                      <td> {{util.name}} </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>-->
                <div class="col-md-4">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            User Roles
                        </a>

                        <form class="form-horizontal" ng-show="idResult.userRoles.length > 3">
                            <div class="form-group">
                                <br>
                                <div class="col-sm-6">
                                    <input ng-model="searchUserRoles" type="text" class="form-control" id="inputEmail3" placeholder="Search">
                                </div>
                            </div>
                        </form>

                        <a dir-paginate="util in idResult.userRoles | filter:searchUserRoles |itemsPerPage :15" class="list-group-item">{{util.name}}</a>
                        <div class="text-center">
                            <dir-pagination-controls></dir-pagination-controls>
                        </div>
                    </div>
            </div>
          </div> <!--row-->
      </div> <!--container-->